<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-danger">Add Contact</p>
      <p class="fst-italic">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim autem
        expedita maiores alias praesentium tempora officia incidunt, numquam
        omnis aperiam!
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Name" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Photo URL" />
        </div>
        <div class="mb-2">
          <input type="email" class="form-control" placeholder="Email" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Mobile" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Company" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Title" />
        </div>
        <div class="mb-2">
          <select class="form-control">
            <option>Select Group</option>
          </select>
        </div>
        <div class="mb-2">
          <input type="submit" value="Add new" class="btn btn-danger" />
          <a routerLink="/" class="btn btn-dark ms-2">Close</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <img
        src="https://i.pinimg.com/originals/9b/a5/86/9ba586b516e875b0c668e6861aa236bf.png"
        alt=""
        class="contact-img"
      />
    </div>
  </div>
</div>
